# Paths to the Apptainer images for each tool
MPROT="miniprot_0.18--f3885d2907a66c41.sif"
JCVI="jcvi_1.5.7--37261bbd6bc87a20.sif"
AGAT="agat_1.5.1--63745027011a3fdd.sif"
FASIZE="ucsc-fasize_482--010b2d8c8e567db7.sif"
BEDOPS="bedops_2.4.42--2bd6ba0591740672.sif"

BASE="" # base directory for the Apptainer mount
OUTDIR=""   # the output directory

# data inputs
PROT=""     # path to a suitable proteome
TARGET=""   # path to the fasta file of the target genome
TARGETNAME=""   # name for the target genome, no spaces or special characters
REF=""      # path to the reference genome. This is usually a chromosome-level assembly from NCBI.
REFNAME=""  # name for the reference genome, no spaces or special characters

# settings
SIZE=5000000    # the minimum scaffold size in bp for it to be drawn in the ideogram plot
THREADS=48  # number of threads for miniprot
