docker.enabled    = true
docker.runOptions = '--platform=linux/amd64'
process.executor  = 'local'

process {
    cpus   = 2
    memory = '2.GB'
    time   = '15.m'

    withLabel: 'process_low' {
        cpus   = 1
        memory = '1.GB'
    }
    withLabel: 'process_medium' {
        cpus   = 2
        memory = '2.GB'
    }
    withLabel: 'process_high' {
        cpus   = 2
        memory = '2.GB'
    }
}

params {
    max_rank = 'genus'
}
